{% extends "layout.njk" %}

{% block head %}

    <title>Criativo</title>

{% endblock %}
{% block content %}

    <section class="intro-section">
        <div class="title-header intro-section">
            <h1>Qual
                <span class="featured-text">soft skill</span>
                mais importante do mercado e por quê é a
                <span class="featured-text">criatividade</span>?<span class="small-text">kkk</span></h1>
            {# <h1>Criatividade</h1>
        <h4>Creativity is intelligence having fun.</h4>
        <p>— Albert Einstein</p> #}
        </div>

        <div class="card-no-bg">
            <img src="/assets/bulb-light.png" alt="Image Light Bulb">
        </div>
        <button class="special-button">
            <span class="material-icons">
                keyboard_arrow_down
            </span>
        </button>
    </section>
    <section class="presentation-section">

        <div class="title-header left">
            <h1>Criatividade</h1>
            <p>Programadores resolvem e lidam com problemas o tempo todo. O interessante é que para resolver muitos desses problemas, na maioria das vezes, precisamos não só entender o problema, mas também ser criativos para resolvê-los, mesmo que em diversos momentos na profissão, enfrentemos tarefas repetitivas, lidamos com problemas novos a cada minuto.</p>

            <h1>Usabilidade</h1>
            <p>As melhores ideias e soluções vem frequentemente para nós quando abordamos algo com forma diferente, de um ângulo menos óbio.
            </p>
            <h1>Aprender a ser criativo</h1>
            <p>Em contrário do que se acredita, criatividade pode ser
                aprendida, mas vem com a prática. Ler ficção,
                escrever, arte, até mesmo cozinha são formas
                de estimular a sua critividade.
            </p>
            <p>
                Quanto mais formas de criatividade você explora,
                mais fácil fica para encontrar diferentes formas para 
                abordar o mesmo problema.
            </p>
        </div>
    </section>

    <section>
         <div class="title-header">
            <h1>Então, podemos dizer que a
                <span class="featured-text">criatividade</span>
                é uma habilidade
                <span class="featured-text">individual?</span> NÃO!
                <img src="/assets/intro-section.png" alt="Image creative group">
                <p>Criatividade não é uma característica individual, pode-se muito bem,
                    se instigada, ser levada para fazer a diferença também
                    enquanto time. Nesse caso, ser muito bem aproveitada para ajudar
                    seu colega ou time a chegar a uma solução.</p>
                {# <p>É necessário ser criativo, nos reinventar o tempo todo, para encontrarmos
                    soluções para avançarmos enquanto desenvolvedores. Afinal cabe a nós a
                    função de levar uma boa experiência para o usuário e cliente.
                </p>     #}
            </h1>
            
        </div>
         <div class="cards">

            <div class="card" id="2DmFFS0dqQc">
            <div class="card__image">
                <img src="https://img.youtube.com/vi/2DmFFS0dqQc/mqdefault.jpg" alt="Imagem thumbnail video">
            </div>
            <div class="card__title">
                <p>Criatividade Colaborativa </p>
            </div>
        </div>
              <div class="card" id="MTCOExd0hDk">
            <div class="card__image">
                <img src="https://img.youtube.com/vi/MTCOExd0hDk/mqdefault.jpg" alt="Imagem thumbnail video">
            </div>
            <div class="card__title">
                <p>Precisamos de um panorâma maior acerca
                    da criatividade.
                </p>
            </div>
            </div>
            <div class="card" id="cYhgIlTy4yY">
            <div class="card__image">
                <img src="https://img.youtube.com/vi/cYhgIlTy4yY/mqdefault.jpg" alt="Imagem thumbnail video">
            </div>
            <div class="card__title">
                <p>Criatividade para Desenvolvedores.
                </p>
            </div>
            </div>
    </div>
    <div class="title-header">
        <h4>Creativity is intelligence having fun.
        </h4>
    </div>
        
</div>
<div class="modal-overlay">
    <div class="modal">
        <a class="maximize-modal">
            <span class="material-icons">
                fullscreen
                </span>
        </a>
        <a class="close-modal">
            <span class="material-icons">
                close
            </span>
        </a>
        <div class="modal-content">
            <iframe src="" frameborder="0">

            </iframe>
        </div>

    </div>
</div>
</div>
</div>
       
    </section>

    {# <div class="social-media">
    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://facebook.com">Facebook</a></li>
        <li><a href="https://instagram.com">Instagram</a></li>
        
    </ul>
</div> #}
<script src="/scripts.js"></script>
{% endblock %}